.benefits {
  padding-bottom: 0;

  &__list {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
    }

    @extend %list;
  }
  &__item {
    margin-bottom: 30px;

    @media screen and (min-width: $tablet) and (max-width: $desktop) {
      margin-right: 30px;
      flex-basis: calc((100% - 30px) / 2);
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @media screen and (min-width: $desktop) {
      margin-right: 30px;
      margin-bottom: 0;
      flex-basis: calc((100% - 90px) / 4);
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__thumb {
    @extend %centeredFlex;
    height: 120px;
    background-color: var(--secondary-bcg-color);
    border-radius: 4px;
    margin-bottom: 30px;
  }
  &__subtitle {
    color: var(--main-dark-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    @media screen and (min-width: $tablet) {
      text-align: start;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 1.7;
  }
}
