.hero {
  @extend %centeredFlex;
  margin: 0 auto;
  text-align: center;
  background-color: var(--section-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero1.jpg);
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    color: var(--main-light-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 696px;
  }
  &__button {
    padding-left: 32px;
    padding-right: 32px;
    width: auto;
  }
}
