$text-font-stack: 'Roboto', sans-serif;
$logo-font-stack: 'Raleway', sans-serif;
:root {
  --primary-text-color: #757575;
  --main-light-color: #ffffff;
  --main-dark-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --section-background-color: #2f303a;
  --secondary-bcg-color: #f5f4fa;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}
